<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<nav>
    <p>navigation</p>
</nav>
<main>
    <h1>body main text</h1>
    <div class="func-block">
        <a class="logout" href="/logout">
            <p>Logout</p>
        </a>
    </div>
</main>
<!--<th:block th:insert="fragments/footer-fragment :: my-website-footer"></th:block>-->
</body>
</html>