<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<th:block th:insert="fragments/navigation-fragment :: website-navigation"></th:block>
<main>
    <p>text main</p>
</main>
<th:block th:insert="fragments/footer-fragment :: website-footer"></th:block>
</body>
</html>