<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login-register.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<main class="login-page">
    <section class="login-section">
        <div class="floating-blobs">
            <span class="blob blob-1"></span>
            <span class="blob blob-2"></span>
            <span class="blob blob-3"></span>
            <span class="blob blob-4"></span>
        </div>

        <div class="login-card">
            <h1 class="login-card-title">Login</h1>

            <div class="form-messages">
                <p class="form-message form-message--success" th:text="${successfulRegistration}"></p>
                <p class="form-message form-message--warning" th:text="${errorMessageInvalidInput}"></p>
                <p class="form-message form-message--warning" th:text="${inactiveAccountMessage}"></p>
                <p class="form-message form-message--warning" th:if="${loginAttemptMessage}"
                   th:text="${loginAttemptMessage}"></p>
            </div>

            <form class="login-form" th:action="@{/login}" th:method="post" th:object="${loginRequest}">
                <div class="input-field">
                    <label for="username">Username</label>
                    <input type="text" id="username" placeholder="Enter your username" th:field="*{username}">
                    <p class="form-message form-message--warning" th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}"></p>
                </div>

                <div class="input-field">
                    <label for="password">Password</label>
                    <div class="password-wrapper">
                        <input type="password" id="password" placeholder="Enter your password" th:field="*{password}">
                    </div>
                    <p class="form-message form-message--warning" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"></p>
                </div>

                <button type="submit" class="submit-button">Log In</button>
            </form>

            <p class="register-link">Don't have an account? <a href="/register">Register now</a>!</p>
        </div>
    </section>
</main>
<!--<th:block th:insert="fragments/footer-fragment :: my-website-footer"></th:block>-->
</body>
</html>